nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background:#555;
  align-items: center;
}

nav section {
  display: flex;
}

nav img {
  display: flex;
  height: 1.5em;
}

nav a {
  text-decoration: none;
  color: white;
  line-height: 55px;
  margin-right: 10px;
  margin-left: 10px;
}

nav a:hover {
  color: #38a8ff;
}

#right-nav {
  position: absolute;
  right: 0;
}