.home-info {
  margin: 50px auto;
  width: 100vw;
  max-width: 1000px;
  font-family: "Segoe UI",Arial,sans-serif;
  color: white;
  position: relative;
  box-sizing:border-box;
  
}
#features,
#news,
#aboutme {
  padding: 1px 20px 12px 20px;
  border-radius:10px;
  background: rgb(66, 66, 66);
  margin-bottom: 50px;
}
.home-info h1 {
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 2px black;
}

.home-info hr {
  border-style: none;
  height: 1px;
  background-color: #38a9ff91;
  width: 25vw;
}